

html {
  scroll-behavior: smooth;
  font-family: 'Heebo', sans-serif;
}



/* -----------Navigation -------------- */
.justify-content-center {
   -ms-flex-pack: center!important;
   justify-content: center!important;
   width: 100%;
   height: 5vh;
   z-index: 1000;
   position: fixed;
   margin-top: -8px;
    padding-top: 5px;
}

/* Style the active class, and buttons on mouse-over */
.active2, .btn:hover {
  color: #707070;
  font-weight: bold;}

.nav-link {
   display: block;
   padding: .5rem 1rem;
  
}

a {
   color: #707070;
   text-decoration: none;
   background-color: transparent;
   font-family: josefin-sans, sans-serif;
   font-style: thin;
   font-weight: 100;
   font-size: 1.2em;
}

.nav {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   padding-left: 0;
   margin-bottom: 0;
   list-style: none;
   background-color: white;
}



/*comparison slider*/

.img-comp-container {
 position: relative;
  height: 250px; /*should be the same height as the images*/
  width: 375px ;
  margin: 0 auto;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
 
}

.img-comp-img img {
  display:block;
  
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: grey;
  opacity: 0.7;
  border-radius: 50%;
}



/*BUTTON SEE MY WORK*/

.button_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -130px;
  position: absolute;
}

.button {
  border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1px;
    background-color:#F7C152;
  color: white;
}

.button:hover {
   transform: scale(0.91);
}

a {
  text-decoration: none;
}


/*1 SECTION*/

.section1 {
  margin-top:100px;
  margin-left: 20%;
  margin-right: 30%;
}

.hello {
  font-size: 30px;
  font-weight:900;
  margin-top: 150px;
}

.tine {
  font-size:110px;
  font-weight: 1100;
  margin-top: -20px;
  margin-bottom: -30px;
}
.and {
   font-size: 30px;
  font-weight:bold;
}


.om {
  font-size:33px;
  font-weight: lighter;
}


/*2 SECTION*/
.section2 {
  margin-left: 15%;
  margin-right: 10%;
  
}


.quote {
  font-size:60px;
  font-weight: 900;
  line-height: 70px;
  position: relative;
  margin-left: 53%;
  padding-top:6%;
}

.portrat {
position: absolute;

}

/*
.tekst {
margin-right: 35%;
font-weight: lighter;
font-size: 20px;
padding-top: 10px;
}
*/


/*3 SECTION*/
.section3 {
  margin:3%;
 
}


.my_projects {
  font-size:60px;
  font-weight: 900;
  text-align: center;
  z-index: 1;
  padding-top: 300px;
}

/*
.orange_boks {
  padding: 15px;
  width: 21%;
  left: 38%;
  right: 41%;
  background-color: #F7C152;
  position: absolute;
  
}
*/


.all {
  text-align: center;
}

.project_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
  padding-top: 50px;
  
}

.project1, .project2, .project3, .project4, .project5, .project6 {
  width: 350px;
  height: 300px;
  background-color: #F2F2F4;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.project1 {
  
}

.project2 {

}

.project3 {

}

.project4 {

}

.project5 {

}

.project6 {

}



/*MEDIA*/
@media screen and (min-width: 412px)  {
  .img-comp-img {
    width: 412px;
    height: 230px;
    
  }
  
  .img-comp-container {
    height: 230px; /*should be the same height as the images*/
    width: 412px;
    margin: 0 auto;
  }
.img-comp-slider {
  margin-top:-150px;
}

.button_container {
  margin-top: -50px; 
}

}



  @media screen and (min-width: 600px)  {
  .img-comp-img {
    width: 600px;
    height: 350px;
    
  }
  
  .img-comp-container {
    height: 350px; /*should be the same height as the images*/
    width: 600px;
    margin: 0 auto;
  }

.img-comp-slider {
  margin-top:-10px;
}

.button_container {
  margin-top: -60px; 
}

}


@media screen and (min-width: 768px)  {
  .img-comp-img {
    width: 768px;
    height: 430px;
    
  }
  
  .img-comp-container {
    height: 430px; /*should be the same height as the images*/
    width: 768px;
    margin: 0 auto;
  }

.img-comp-slider {
  margin-top:0px;
}

.button_container {
  margin-top: -70px; 
}

}



@media screen and (min-width: 1024px) {
.img-comp-img {
  width: 1024px;
  height: 560px;
}

.img-comp-container {
  height: 560px; /*should be the same height as the images*/
  width: 1024px;
  margin: 0 auto;

}
.img-comp-slider {
  margin-top: 0px;
}

.button_container {
  margin-top: -80px; 
}

}


@media screen and (min-width: 1280px){
  .img-comp-img {
    width: 1280px;
    height: 690px;
  }
  
  .img-comp-container {
    height: 690px; /*should be the same height as the images*/
    width: 1280px;
    margin: 0 auto;
  
  }

  .img-comp-slider {
  margin-top: 20px;
}

.button_container {
  margin-top: -90px; 
}

}

@media screen and (min-width: 1440px){
  .img-comp-img {
    width: 1440px;
    height: 820px;
  }
  
  .img-comp-container {
    height: 820px; /*should be the same height as the images*/
    width: 1440px;
    margin: 0 auto;
  
  }

.button_container {
  margin-top: -120px; 
}

}






