/* ---------- root variables ---------- */

html {
  scroll-behavior: smooth;
}

/*slide effekt på forsiden*/


.img-comp-container {
 position: relative;
  height: 250px; /*should be the same height as the images*/
  width: 375px ;
  margin: 0 auto;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
 
}

.img-comp-img img {
  display:block;
  
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: grey;
  opacity: 0.7;
  border-radius: 50%;
}



/*button see my work*/

.button_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -130px;
  position: absolute;
}

.button {
  border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1px;
    background-color:#F7C152;
  color: white;
}

.button:hover {
   transform: scale(0.91);
}

a {
  text-decoration: none;
}


@media screen and (min-width: 412px)  {
  .img-comp-img {
    width: 412px;
    height: 230px;
    
  }
  
  .img-comp-container {
    height: 230px; /*should be the same height as the images*/
    width: 412px;
    margin: 0 auto;
  }
.img-comp-slider {
  margin-top:-150px;
}

.button_container {
  margin-top: -50px; 
}

}



  @media screen and (min-width: 600px)  {
  .img-comp-img {
    width: 600px;
    height: 350px;
    
  }
  
  .img-comp-container {
    height: 350px; /*should be the same height as the images*/
    width: 600px;
    margin: 0 auto;
  }

.img-comp-slider {
  margin-top:-10px;
}

.button_container {
  margin-top: -60px; 
}

}


@media screen and (min-width: 768px)  {
  .img-comp-img {
    width: 768px;
    height: 430px;
    
  }
  
  .img-comp-container {
    height: 430px; /*should be the same height as the images*/
    width: 768px;
    margin: 0 auto;
  }

.img-comp-slider {
  margin-top:0px;
}

.button_container {
  margin-top: -70px; 
}

}



@media screen and (min-width: 1024px) {
.img-comp-img {
  width: 1024px;
  height: 560px;
}

.img-comp-container {
  height: 560px; /*should be the same height as the images*/
  width: 1024px;
  margin: 0 auto;

}
.img-comp-slider {
  margin-top: 0px;
}

.button_container {
  margin-top: -80px; 
}

}


@media screen and (min-width: 1280px){
  .img-comp-img {
    width: 1280px;
    height: 690px;
  }
  
  .img-comp-container {
    height: 690px; /*should be the same height as the images*/
    width: 1280px;
    margin: 0 auto;
  
  }

  .img-comp-slider {
  margin-top: 20px;
}

.button_container {
  margin-top: -90px; 
}

}

@media screen and (min-width: 1440px){
  .img-comp-img {
    width: 1440px;
    height: 820px;
  }
  
  .img-comp-container {
    height: 820px; /*should be the same height as the images*/
    width: 1440px;
    margin: 0 auto;
  
  }

.button_container {
  margin-top: -120px; 
}

}






